<footer class="footer">
  <div class="container footer-part">
    <div class="row footer-part-left">
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Home</h6>
        <a href="/social">Social Media Analysis</a>
        <a href="/map">Map</a>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Support</h6>
        <a href="#">Contact Us</a>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Connect With Us</h6>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      <p>&copy; 2025, All Rights Reserved</p>
    </div>
  </div>
</footer>
