<% layout('layouts/boilerplate') %>


    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="form-container">
                        <h2 class="form-title">Welcome Back</h2>

                        <form method="POST" action="/signup" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" name="username" class="form-control"
                                    placeholder="Enter your username" required>
                                <div class="invalid-feedback">Please provide a valid Username.</div>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Enter your email"
                                    required>
                                <div class="invalid-feedback">Please provide a valid email.</div>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="userRole">Select Categories:</label>
                                <select class="form-control role-dropdown" name="userRole" id="userRole" required>
                                    <option class="role-options" value="">-- Select a role --</option>
                                    <option class="role-options" value="citizen">Citizen</option>
                                    <option value="volunteer">Volunteer</option>
                                    <option value="coastal residence">Coastal Residence</option>

                                    <option class="role-options" value="disaster manager">Disaster
                                        Manager</option>
                                    <option class="role-options" value="admin">
                                        Admin</option>
                                </select>
                                <div class="invalid-feedback">Please select a role</div>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Aadhar Card</label>
                                <input type="text" name="aadharNum" class="form-control" placeholder="xxxx-xxxx-xxxx"
                                    required>
                                <div class="invalid-feedback">Please provide a valid phone number.</div>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">OTP</label>
                                <input type="text" name="otp" class="form-control" placeholder="xxx-xxx" required>
                                <div class="invalid-feedback">Please provide a valid OTP</div>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Phone No.</label>
                                <input type="text" name="phoneNum" class="form-control" placeholder="+91 xxxxxxxxxx"
                                    required>
                                <div class="invalid-feedback">Please provide a valid phone number.</div>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="••••••••"
                                    required minlength="8">
                                <div class="invalid-feedback">Please provide a valid password.</div>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>
                            <!-- <div class="form-check">
                                <a href="#" class="forgot-password">Forgot Password?</a>
                            </div> -->
                            <button type="submit" class="btn btn-primary-custom">
                                Sign up
                            </button>
                        </form>

                        <!-- <div class="divider">OR</div>

                        <button class="btn btn-social">
                            <i class="fab fa-google me-2"></i>
                            Sign up with Google
                        </button>

                        <button class="btn btn-social">
                            <i class="fab fa-facebook-f me-2"></i>
                            Sign up with Facebook
                        </button>

                        <div class="signup-link">
                            Already have an account yet? <a href="/login">Login</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </main>